@keyframes img_2pac{
	0% {border-color: blue; right:450px; top:0px;}
	25% {border-color: green; right:0px; top:0px;}
	50% {border-color: yellow; right:0px; top:0px;}
	75% {border-color: red; right:0px; top:0px;}
	100% {border-color: blue; right:0px; top:0px;}
}

@keyframes img_games{
	0% {right:450px; top:0px;}
	25% {right:0px; top:0px;}
	50% {right:0px; top:0px;}
	75% {right:0px; top:0px;}
	100% {right:0px; top:0px;}
}

#img_games{
	animation-name: img_2pac;
	animation-duration: 4s;
	position: relative;
}

#img_2pac{
	animation-name: img_2pac;
	animation-duration: 4s;
	position: relative;
	animation-direction: alternate;
}

html{
	background: url(../images/2pac_shakur.jpg) no-repeat center fixed; 
	background-size: cover;
}

body{
	color: white;
}

img{
	border-radius: 30px;
}

#div_inicio{
	text-align: center;
}

#div_interna1{
	padding-left: 10%;
	width: 80%;
	height: 80%;
}

#div_jogos p{
	color: black;
	border: solid 5px;
	border-radius: 5px;
	background-color: white;
	width: 20%;
	margin-left: 40%;
}

#div_jogos img{
	opacity: 0.5;
	border-style: solid 10px;
	transition: border 1s;
	border-radius: 30px;
}

#div_jogos img:hover{
	opacity: 1.0;
	border-style: solid;
	border-radius: 30px 10px;
	border-color: #66c2ff;
}

#div_interna2 ul li{
	text-align: left;
	text-align: justify;
	white-space: nowrap;
}

table{
	border-collapse: collapse  1px white;
	width: 50%;
	margin-left: 25%;
}

#tabela_filmes tr td{
	border: solid 5px;
	white-space: nowrap;
	border-radius: 30px 10px;
}

#tabela_filmes img{
	opacity: 0.5;
	border-style: solid 10px;
	transition: border 1s;
	border-radius: 30px;
}

#tabela_filmes img:hover{
	opacity: 1.0;
	border-style: solid;
	border-radius: 30px 10px;
	border-color: #66c2ff;
}

#div_lista{
	width: 30%;
	margin-left: 45%;
}

#div_lista ul li{
	text-align: left;
}

#area_neon{
	background-color: #0F0F0F;
	font-family: 'Nunito', sans-serif;	
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	padding: 20px;
	padding-top: 40px;
	position: absolute;
}

#area_neon h1.neon{
	font-weight: 400;
	font-size: 7em;
	filter: blur(0);
	-webkit-text-stroke: 1px rgba(255,255,255,0.1);
	color: rgba(255,255,255,0.1);
	text-shadow: -5px 5px 5px black;
  	-webkit-background-clip: text;
  	transition: all ease 1s;
}

#area_neon h1.neon.on{
	filter: blur(1px);
	color: white;
	-webkit-text-stroke: 1px #00FFB3;
	text-shadow: 0 0 5px #CCFFF7, 0 0 200px #00FFDB;
	-webkit-background-clip: none;
}

#area_neon svg.neon_img{
	fill: rgba(255,255,255,0.1);
	stroke: rgba(255,255,255,0.1);
	filter: blur(0) drop-shadow(-5px 5px 5px black);
	transition: all ease 1s;
}

#area_neon svg.neon_img.on{
	fill: white;
	stroke: #F0FF00;
	filter: blur(1px) drop-shadow(0 0 10px #F0FF00)
}